<div class="Container" [class.tmavy-rezim]="!jeSvetly">

  @if (loading()) {
    <p>Načítám...</p>
  } @else if (error()) {
    <p class="error">{{ error() }}</p>
  } @else {

    <div class="header">
      <div class="headerObrazek">
        <img src="ac22fd71efda4079007dc6d36355483f.avif" alt="EOS Logo" class="headerObrazek">
      </div>
      <button class="headerStatus">Status</button>
      <button class="headerMainteance">Mainteance</button>
      <button class="headerPrevious">Previous incidents</button>
      <button class="headerGet">Get in touch</button>
      <button class="headerRezim" (click)="prepniRezim()">
        <i class="fa-solid" [class.fa-sun]="jeSvetly" [class.fa-moon]="!jeSvetly"></i>
        {{ jeSvetly ? '  Svetly rezim ' : " Tmavy rezim " }}
      </button>
    </div>

    <div class="stav">
      <i class="fa-solid fa-circle-check fa-2xl" style="color: rgb(0, 157, 12);"></i>
      <h2>{{ textStavu }}</h2>
      <p>Last updated: {{ dataStatusu()?.lastUpdated }}</p>
    </div>

    <div class="dropdown">
      
      <button class="vnitrnyDrop" (click)="prepniDropdown()">
        <span class="vDvlevo"><span>Platforma EOS</span></span>
        <span class="vDvpravo">
          <span>
            <i class="fa-solid fa-circle-check fa" style="color: rgb(0, 157, 12);"></i>
            {{ dataStatusu()?.overallStatusLabel }} >
          </span>
        </span>
      </button>
      <br>

      @if (jeRozbaleno) {
        <app-server-list [servery]="dataStatusu()?.services || dataStatusu()"></app-server-list>
        
        <div style="background: rgba(0,0,0,0.05); padding: 15px; border-radius: 4px; margin-top: 10px; text-align: center;">
          <p style="color: #333; margin: 0; font-weight: bold;">
            Počet serverů: {{ (dataStatusu()?.services || dataStatusu())?.length }}
          </p>
        </div>
      }

    </div>

    <div class="zaver">
      <div class="zaverVnitrni">
        <button class="zmenaJazyka">
          <span class="fi fi-us"></span>
          <span>US English</span>
        </button>
        <div>Powered by: Powerstack</div>
      </div>
    </div>

  } 
</div>